@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
}

.borderbox {
  width: 100%;
  border: 3px solid black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footerText {
  font-family: Roboto, sans-serif;
  padding: 2.5%;
  border-bottom: none;
}

.endblackbox {
  background-color: grey;
  height: 2rem;
}
